# dependencies
/node_modules

# testing
/coverage

# build
/dist

# etc
.DS_Store
.env.local
.idea

# compiled
utils/reload/*.js
utils/reload/injections/*.js
public/manifest.json

# Not open-sourced for now
/.VSCodeCounter
/src
/test-utils
/utils
/public
.eslintrc
.eslintrc
.prettierrc
.jest.config.js
manifest.ts
package.json
pnpm-lock.yaml
postcss.config.js
tailwind.config.js
tsconfig.json
vite.config.ts
yarn.lock
